
body{
    background-image: url(https://images.unsplash.com/photo-1599158150601-1417ebbaafdd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80);
    background-size: cover;
    background-position: center;
}

.glass-scoreboard{
    min-width: 50vh;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.436);
}